### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [131]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
Total_Schools=school_data_complete["school_name"].nunique()
Total_Schools

15

In [15]:
Total_students=school_data_complete["Student ID"].nunique()
Total_students

39170

In [21]:
Total_budget=school_data["budget"].sum()
Total_budget

24649428

In [24]:
Average_math_score=school_data_complete["math_score"].mean()
Average_math_score

78.98537145774827

In [26]:
Average_reading_score=school_data_complete["reading_score"].mean()
Average_reading_score

81.87784018381414

In [39]:
Passing_math=len(school_data_complete[school_data_complete["math_score"]>=70])/Total_students
Passing_math

0.749808526933878

In [41]:
Passing_reading=len(school_data_complete[school_data_complete["reading_score"]>=70])/Total_students
Passing_reading

0.8580546336482001

In [48]:
Passing_math_and_reading=len(school_data_complete[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)])/Total_students
Passing_math_and_reading

0.6517232575950983

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
District_summary_df=pd.DataFrame({"Total Schools":[Total_Schools],"Total Students":[Total_students],"Total Budget": [Total_budget],
              "Average Math Score":[Average_math_score],"Average Reading Score":[Average_reading_score],
              "% Passing Math": [Passing_math],"% Passing Reading":[Passing_reading],
              "% Overall Passing":[Passing_math_and_reading]})
District_summary_df["Total Students"]=District_summary_df["Total Students"].map("{:,}".format)
District_summary_df["Total Budget"]=District_summary_df["Total Budget"].map("${:,}".format)
District_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [192]:
school_data = pd.read_csv(school_data_to_load)

In [193]:
school_data["Per Student Budget"]=school_data["budget"]/school_data["size"]
school_data

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [194]:
averages=school_data_complete.groupby("school_name")["math_score","reading_score"].mean()
averages=averages.reset_index()

school_data

C:\Users\rmeneses\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [195]:
school_data=pd.merge(school_data,averages)

In [196]:
school_data_complete["math_ph"]=np.where(school_data_complete["math_score"]>=70,1,0)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_ph,reading_ph,overall_ph
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1,0,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,1,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,1,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,1,1,1
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,1,1,1
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,1,1,1
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,1,1,1
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,1,1,1

In [197]:
math_pass=school_data_complete.groupby("school_name",as_index=False)["math_ph"].sum()
school_data=pd.merge(school_data,math_pass)
school_data["% Passing Math"]=school_data["math_ph"]/school_data["size"]
school_data=school_data.drop("math_ph",1)
school_data

,School ID,school_name,type,size,budget,Per Student Budget,math_score,reading_score,% Passing Math
0,0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839
1,1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885
2,2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671
3,3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530
4,4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924
5,5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335
7,7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801
8,8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059
9,9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946
10,10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333
11,11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666
12,12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576
13,13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096
14,14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722

In [198]:
school_data_complete["reading_ph"]=np.where(school_data_complete["reading_score"]>=70,1,0)
reading_pass=school_data_complete.groupby("school_name",as_index=False)["reading_ph"].sum()
school_data=pd.merge(school_data,reading_pass)
school_data["% Passing Reading"]=school_data["reading_ph"]/school_data["size"]
school_data=school_data.drop("reading_ph",1)

In [199]:
school_data=school_data.drop("School ID",1)
school_data

,school_name,type,size,budget,Per Student Budget,math_score,reading_score,% Passing Math,% Passing Reading
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089

In [200]:
school_data_complete["overall_ph"]=np.where(((school_data_complete["math_ph"]==1) & (school_data_complete["reading_ph"]==1)) ,1,0)
overall_pass=school_data_complete.groupby("school_name",as_index=False)["overall_ph"].sum()
school_data=pd.merge(school_data,overall_pass)
school_data["% Overall Passing"]=school_data["overall_ph"]/school_data["size"]
school_data=school_data.drop("overall_ph",1)
school_data=school_data.rename(columns={"type":"School Type","size":"Total Students","budget":"Total School Budget",
                                        "math_score":"Average Math Score","reading_score":"Average Reading Score"})

In [207]:
school_data=school_data.set_index("school_name")
school_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [213]:
Top_performing=school_data.sort_values("% Overall Passing",ascending=False).head()
Top_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [215]:
Bottom_performing=school_data.sort_values("% Overall Passing",ascending=True).head()
Bottom_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208